.logoDetails {
    display: grid;
    direction: row;
    justify-content: flex-end;
    align-items: flex-start;  
     
}

.icon {
    position: fixed;
    top: 10%;
    z-index: 999;
    margin-right: 200px;
    color: #6E07F3;
}